{# flash notification block with unique category colors #}

{% if form is defined and form %}
    {% if form.errors %}
        {% for field_errors in form.errors.values() %}
            {% for error in field_errors %}
                <div class="border p-3 rounded-lg bg-red-100 border-red-400 text-red-700">
                    {{ error }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endif %}

{% if form is not defined or not form.errors %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages[-1:] %}
                {% if category == 'success'%}
                    {% set color = 'bg-green-100 border-green-400 text-green-700' %}
                {% elif category == 'notify' %}
                    {% set color = 'bg-yellow-100 border-yellow-400 text-yellow-700' %}
                {% elif category == 'error' %}
                    {% set color = 'bg-red-100 border-red-400 text-red-700' %}
                {% endif %}

            <div class="border p-3 rounded-lg {{ color }}" id="alert">
                {{ message }}
            </div>

            {% endfor %}
        {% endif %}
    {% endwith %}
{% endif %}